.footer-content {
    text-align: center;
}

.footer-content > .text {
    font-size: 0.75rem;
}

.footer-content > .social-menu {
    display: flex;
    justify-content: space-between;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 50px;
}