.main-description > .container {
    width: 44vw;
    margin: 0 auto;
    text-align: center;
}

.main-description > .container .subtitle {
    font-size: 3rem;
}

.main-description > .container .text {
    font-size: 1.3rem;
    line-height: 33px;
    margin-top: 30px;
}