.main-header .container {
    display: flex;
    position: relative;
}

.main-header .image {
    width: 100%;
}

.main-header .logo{
    width: 800px;
    height: 250px;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%);
}