.separator > .container {
    width: 70vw;
    margin: 50px auto;
}

.separator .separator-egg {
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {
    .image-egg {
        width: 100px;
    }

}