.swiper-container .swiper-slide {
    width: 1200px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-container .button-content {
    text-align: center;
    margin-top: 20px;
}